* {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

:root {
    --main-color: #334155;
    --secondary-color: #1e293b;
    --third-color: #1b2535;
    --road-color: #0f172a;
    --text-color: #e2e8f0;
}

body {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    overflow: hidden;
    font-family: monospace;
}

#fullPage {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
}

.pages {
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    transition: 1s;
}

#page1 { left: 0; background-color: var(--main-color); }
#page2 { left: 100vw; background-color: var(--secondary-color); }
#page3 { left: 200vw; background-color: var(--main-color); }
#page4 { left: 300vw; background-color: var(--secondary-color); }
#page5 { left: 400vw; background-color: var(--main-color); }
#page6 { left: 500vw; background-color: var(--secondary-color); }
#page7 { left: 600vw; background-color: var(--main-color); }
.mainTitle { font-size: 48px; }

.methodTitle { font-size: 48px; margin: 144px 0 10px 0; }
.methodList { font-size: 24px; margin: 0 0 144px 0; }
.exampleEnableBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}
.exampleBox {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: start;
    place-items: start;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}
.exampleContainer {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.exampleSquare {
    margin: 5px 5px 5px 5px;
    height: 50px;
    width: 50px;
    background-color: var(--text-color);
    transition: 1s;
}
.exampleBoxText { font-size: 24px; margin: 0; }
.exampleBoxArrow { font-size: 96px; margin: 0; user-select: none; transition: 0.1s; }
.exampleBoxArrow:hover { transform: scale(1.1); cursor: pointer; }

.methodsPages {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    transition: 1s;
}
#methodsPage1 { top: 0; }
#methodsPage2 { top: 100vh; background-color: var(--third-color); }

#road {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: var(--road-color);
    z-index: 2;
}

.roadImage {
    padding: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid var(--text-color);
    border-radius: 99999px;
    background-color: var(--road-color);
    transition: 0.1s;
}

.roadCurrent {
    height: 125px;
    width: 125px;
}

.roadImage:hover:not(.roadCurrent) {
    cursor: pointer;
    transform: scale(1.1);
}

.roadLine {
    width: 100px;
    border: 1px solid var(--text-color);
}